<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}BlockCert{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  </head>

  <body>

    {% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-between">
            <a class="navbar-brand" href="/home">BlockCert</a>
    }
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
      <form class="form-inline mr-1">
              <div class="input-group">
              <input type="text" id="searchForm" class="form-control" placeholder="Search....." aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn fa fa-search " style="background: white" id="basic-addon2"></button>
              </div>
            </div>
      </form>
          
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" href="/logout">Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/updateProfile">Update Profile</a>
        </div>
      </li>
          
              <li class="nav-item"><a class="nav-link" href="login"><span class="fa fa-sign-in-alt"></span> Login</a></li>
            <li class="nav-item"><a class="nav-link" href="signup"><span class="fa fa-user"></span> Sign Up</a></li>
          
      </ul>
  </div>
</nav>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
{% endblock body %}
  </body>
</html>

<style>
    body{
        padding-top: 100px;
    }
</style>