{% extends 'base.html' %}
    <link rel="stylesheet" href="../static/css/blockcert.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="{{person.issuer_logo_file}}" alt="John" style="width:100%">
            <div class="card-body">
          <h1 class="card-title">{{person.name}}</h1>
          <p class="title">{{person.issuer_email}}</p>
          <p>{{person.issuer_url}}</p>
          <a href="#"><sppan class="fa fa-android"></i></a>
          <a href="#"><span class="fa fa-twitter"></i></a>
          <a href="#"><span class="fa fa-linkedin"></i></a>
          <a href="#"><span class="fa fa-facebook"></i></a>
            </div>
            <div class="card-footer text-muted text-center">
           <button type="submit" style="margin-top: 20px" class="btn btn-primary btn-block">Contact</button>
            </div>
            </div>
    </div>
    <div class="col-md-9 jumbotron">
        <ul class="list-group">
            <li class="list-group-item">Name: {{ person.name }}</li>
            <li class="list-group-item">URL: {{ person.issuer_url }}</li>
            <li class="list-group-item">Email: {{ person.issuer_email }}</li>
            <li class="list-group-item">ID: {{ person.issuer_id }}</li>
            <li class="list-group-item">Revocation List: {{ person.revocation_list }}</li>
            <li class="list-group-item">Public Key: {{ person.issuer_public_key }}</li>
            <li class="list-group-item">Badge ID: {{ person.badge_id }}</li>
            <li class="list-group-item">Logo: {{person.issuer_logo_file}} </li>
            <li class="list-group-item">Certificate Image: {{person.cert_image_file}} </li>
            <li class="list-group-item">Signature: {{ person.issuer_signature_file }}</li>
        </ul>
    </div>
    </div>
    </div>
    {% if download==1 %}
    <script>
      
        window.location.href = "http://localhost:5000/files";
      
    </script>
    {% endif %}
    {% endblock %}